## mako
<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import Text, HTML
from datetime import datetime
import pytz
from django.conf import settings
%>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%block name="pagetitle">${_("Contact Us")}</%block>
<div class="content-wrapper main-container" id="content">


{#    <div class="page-heading">#}
{#        <h1>Contact Us</h1>#}
{#    </div>#}
    <div class="grid-manual grid-container">
        <div class="inner-container">

            <div id="login-and-registration-container" class="login-register">
                <section id="register-anchor" class="form-type">
                    <div id="register-form" class="form-wrapper ">
                        <p>Your message was sent.</p>
                    </div>
                    <div><a href="/">Click here</a> to go back to Home</div>
                </section>
            </div>
        </div>
    </div>
</div>