##mako
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%block name="pagetitle">${_("Contact Us")}</%block>
<div class="content-wrapper main-container" id="content">


    <div class="page-heading">
        <h1>Contact Us</h1>
    </div>
    <div class="grid-manual grid-container">
        <div class="inner-container">

            <div id="login-and-registration-container" class="login-register">
                <section id="register-anchor" class="form-type">
                    <div id="register-form" class="form-wrapper ">
                        <p>Your message was sent.</p>
                    </div>
                    <div><a href="/">Click here</a> to go back to Home</div>
                </section>
            </div>
        </div>
    </div>
</div>